* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

img {
    border: 0;
}

.border_bottom {
    width: 960px;
    height: 35px;
    margin: 0px auto;
    border-bottom: 2px solid gray;

}

#main_nav ul li {
    width: 25px;
    padding: 0px 8.1% 0px 0px;
    float: left;

}

#main_nav ul li a {
    color: #c1c1c1;
    font-weight: 700;
    font-family: cursive;
}

#main_nav ul .first_child_menu {
    border-top: 2px solid gray;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    padding-left: 25px;
}

ul.navigation {
    padding: 0px 0px 15px 0px;
    margin: 0;
}

#top_item {
    width: 960px;
    height: 330px;
    margin: 0 auto;
    /*background-color: red;*/
    border-bottom: 2px solid gray;
}

#top_item img {
    width: 53%;
    float: left;
}

#news {
    width: 412px;
    height: 326px;
    float: left;
    /*background-color: yellow;*/
    position: relative;
    margin-left: 10px;

}

#news .important_news {
    position: absolute;
    top: -40px;
    left: 73%;
    z-index: 200;
    color: #c1c1c1;
}

#news .intro {

    width: 100%;
    height: 232px;
    display: block;
    color: #c1c1c1;

}

/*.title{*/
/*margin-bottom: 30px;*/
/*}*/
.pic-container{
    margin: 0 auto;
    width: 880px;
    padding-left: 90px;
    /*height: 500px;*/
    /*position: relative;*/
}
.pic-container .container{
    /*width: 200px;*/
    /*height: 200px;*/
    /*overflow: hidden;*/
    /*position: relative;*/
    float: left;
    padding: 0px 3px;
    /*position: absolute;*/


}
.container .mask{
    display: none;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    width: 150px;
    height: 140px;

}
.container .text{
    width: 150px;
    height: 110px;
    display: none;
    position: absolute;
    text-align: center;
    padding-top: 30px;
}
.container .text p{
    font-size: 15px;
    font-family: Arial;
    color: #242424;
    font-weight: 700;


}

