*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    -webkit-text-size-adjust: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
div,img,a{
    margin: 0;
    padding: 0;
}
.clear{
    clear:both;
}

#zhangShuxian{
    margin-top: 10px;
    /*padding-bottom: 66px;*/
    background-color: #CCC7C4;
    /*display: none;*/
}
#footer{
    width: 1160px;
    height: 170px;
    padding-left: 40px;
    margin: 0 auto;
}
#footer dl {
    width: 176px;
    padding: 10px 10px 0 0;
    float: left;
}
#footer dt{
    display: block;
}
#footer dt a{
    display: block;
    text-align: right;
    height: 27px;
    line-height: 27px;
    padding-right: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #68523f;
    background-color: #978F8D;
}
#footer dt a:hover{
    background-color: #9F0006;
    color: #FFF;
}
#footer dd a{
    display: block;
    text-align: right;
    height: 27px;
    line-height: 27px;
    padding-right: 10px;
    color: #FFF;
}
#footer dd a:hover{
    background-color: #6D625F;
}
#footer h2{
    float: left;
    width: 270px;
    height: 63px;
    padding: 10px 0 5px 0;
}
#footer p{
    float: left;
    padding-top: 40px;
    color: #FFF;
    margin-right: 5px;
}
#footer p a{
    color: #FFF;
    font-size: 12px;
}


